<template>
  <video autoplay></video>
</template>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script>
  export default {
    data () {
      return {}
    },
    mounted () {
      navigator.mediaDevices.enumerateDevices().then(devices => {
        devices = devices.filter(v => (v.kind === 'videoinput'))
        let lastDevice = devices[devices.length - 1]
        devices = devices.filter(v => (v.label.indexOf('back') > 0))
        let device = null
        if (devices.length > 0) {
          device = devices[devices.length - 1]
        } else {
          device = lastDevice
        }
        if (!device) {
          return
        }
        let constraints = {
          audio: false,
          video: {
            deviceId: { ideal: device.deviceId },
            width: { ideal: window.innerWidth },
            height: { ideal: window.innerHeight }
          }
        }
        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
          if (!this.$el.srcObject) {
            this.$el.src = URL.createObjectURL(stream)
          } else {
            this.$el.srcObject = stream
          }
        })
        .catch(err => {
          console.log(err)
        })
      })
      .catch(err => {
        console.log(err)
      })
    }
  }
</script>