<template>
  <v-container class="mt-0" fill-height>
    <v-layout row wrap>
       <v-flex xs12 class="text-xs-right py-5 my-5">
            <div class="display-1">TESSACORP</div>
            <v-divider></v-divider>
            <div class="title">company</div>
      </v-flex>
      <v-flex xs12>
        <!-- VIDEO-->
        <v-expansion-panel>
          <v-expansion-panel-content v-for="client in clientItems" :key="client" v-if="client.title == 'Videos'">
                <div slot="header" class="title py-2"><v-icon large left>{{ client.icon }}</v-icon> {{ client.title }}</div>
                <v-layout row wrap class="my-0 py-0">
                    <v-flex v-for="option in client.options" :key="option" xs12>
                      <button class="companyBtn fullBtn" @click="videoClicked(option)" block flat>{{ option.title }}</button>
                    </v-flex>
                    <v-dialog fullscreen v-model="dialogVideo" fill-height>
                      <v-flex xs12 class="text-xs-center my-5">
                        <video id="bVideo"  class="mt-5" controls>
                          <source src="../../../static/video/video_company.mp4" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </v-flex>
                       <div id="closeVideoDiv">
                          <v-btn color="red darken-1" dark @click="closeVideo()">CLOSE</v-btn>
                        </div>
                     </v-dialog>
                </v-layout>
          </v-expansion-panel-content>
          <!-- CATALOG-->
          <v-expansion-panel-content v-else-if="client.title == 'Catalog'">
                <div slot="header" class="title py-2"><v-icon large left>{{ client.icon }}</v-icon> {{ client.title }}</div>
                <v-layout row wrap class="my-0 py-0">
                    <v-flex v-for="option in client.options" :key="option" xs12>
                      <a :href="option.link" ><button class="companyBtn centerBtn fullBtn">{{ option.title }}</button></a>
                    </v-flex>
                </v-layout>
          </v-expansion-panel-content>
          <!-- AVAILABILITY-->
          <v-expansion-panel-content v-else-if="client.title == 'Availability'">
                <div slot="header" class="title py-2"><v-icon large left>{{ client.icon }}</v-icon> {{ client.title }}</div>
                <v-layout row wrap class="my-0 py-0">
                    <v-flex v-for="option in client.options" :key="option" xs12>
                      <a :href="option.link" ><button class="companyBtn centerBtn fullBtn">{{ option.title }}</button></a>
                    </v-flex>
                </v-layout>
          </v-expansion-panel-content>
          <!-- PRICES-->
          <v-expansion-panel-content v-else-if="client.title == 'Prices'">
                <div slot="header" class="title py-2"><v-icon large left>{{ client.icon }}</v-icon> {{ client.title }}</div>
                <v-layout row wrap class="my-0 py-0">
                    <v-flex v-for="option in client.options" :key="option" xs12 sm4>
                      <a :href="option.link" ><button class="companyBtn centerBtn fullBtn">{{ option.title }}</button></a>
                    </v-flex>
                </v-layout>
          </v-expansion-panel-content>
          <!-- CONTACTS-->
          <v-expansion-panel-content v-else-if="client.title=='Contacts'">
            <div slot="header" class="title py-2"><v-icon large left>{{ client.icon }}</v-icon> {{ client.title }}</div>
            <v-layout row wrap class="my-0 py-0">
                <v-flex v-for="option in client.options" :key="option" xs12 text-xs-center>
                  <button class="companyBtn fullBtn" @click="clientClicked(option)" block flat>{{ option.title }}</button>
                  <v-divider></v-divider>
                </v-flex>
                <v-dialog v-model="dialog" max-width="290">
                  <v-card>
                    <v-card-media id="contacto" img :src="contactLink"></v-card-media>
                    <v-card-actions>
                      <a id="download" :href="contactLink" download><v-btn color="red">DOWNLOAD</v-btn></a>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click.stop="dialog=!dialog"><a id="close" :href="contactLink" download>CLOSE</a></v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </v-layout>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data () {
      return {
        contactLink: '',
        dialog: false,
        dialogVideo: false,
        clientItems: [
          { icon: 'play_circle_outline',
            title: 'Videos',
            options: [{title: 'FARM VIDEO', link: '/video'}] },
          { icon: 'book',
            title: 'Catalog',
            options: [{title: 'SHOW CATALOG', link: '../../../static/pdf/catalogo_final_baja.pdf'}] },
          { icon: 'poll',
            title: 'Availability',
            options: [{title: 'AVAILABILITY LIST', link: '../../../static/pdf/availability_list.pdf'}] },
          { icon: 'attach_money',
            title: 'Prices',
            options: [{title: 'USA', link: '../../../static/pdf/usa_price_list.pdf'}, {title: 'EUROPE', link: '../../../static/pdf/europe_price_list.pdf'}, {title: 'RUSSIA', link: '../../../static/pdf/russia_price_list.pdf'}] },
          { icon: 'contact_phone',
            title: 'Contacts',
            options: [
             {title: 'ALEJANDRO HENAO', link: 'alejandro_henao'},
             {title: 'CARLOS SANCHEZ', link: 'carlos_sanchez'},
             {title: 'CARLOS NAVEDA', link: 'carlos_naveda'},
             {title: 'CRISTINA SEMENOVA', link: 'cristina_semenova'},
             {title: 'GABRIEL PEREZ', link: 'gabriel_perez'},
             {title: 'IRINA LIACHKANOVA', link: 'irina_liachkanova'},
             {title: 'JOHANN PARRA', link: 'johann_parra'},
             {title: 'JIMMY RAZA', link: 'jimmy_raza'},
             {title: 'LORENA DEL CASTILLO', link: 'lorena_del_castillo'},
             {title: 'PABLO FABARA', link: 'pablo_fabara'},
             {title: 'PABLO ARIAS', link: 'pablo_arias'},
             {title: 'PATRICIA VALENZUELA', link: 'patricia_valenzuela'}] }
        ]
      }
    },
    methods: {
      clientClicked (option) {
        this.contactLink = '/static/img/contactos_ecuanros/' + option.link + '.jpg'
        this.dialog = true
      },
      videoClicked (option) {
        this.dialogVideo = true
        document.getElementById('bVideo').play()
      },
      closeVideo () {
        this.dialogVideo = false
        document.getElementById('bVideo').pause()
        document.getElementById('bVideo').currentTime = 0
      },
      fullScreen () {
        document.getElementById('bVideo').fullScreen
      }
    }
  }
</script>
<<style scoped>
  .title{
    font-weight: 100;
  }
  #contacto{
    min-height: 500px;
  }
  #download button{
    color: #fff;
  }
  #download{
    text-decoration: none;
  }
  #close{
    color: #ffffff;
    text-decoration: none;
  }
  .companyBtn{
    border: 0.5px solid #ccc;
    margin: 0px 1px;
    padding: 25px 0px 25px 0px;
    background: #888;
    color: #fff;
    font-weight: bold;
  }
  .leftBtn{
    text-align: left;
    padding-left: 40%;
  }
  .centerBtn{
    text-align: center;
  }
  .fullBtn{
    width: 100%;
  }
  .companyBtn:hover{
    background: #777;
  }
  video, #closeVideoDiv{
    width: 90% !important;
  }
  #closeVideoDiv{
    text-align: right;
  }
  @media screen and (min-width: 480px) {
    video{
      width: 50% !important;
    }
    #closeVideoDiv{
      width: 100% !important;
      text-align: center;
    }
  }
  .dialog{
    background: #000 !important;
    background: #000 !important;

  }
</style>
