<template>
  <v-container fluid fill-height>
      <v-layout row wrap>
          <v-flex xs12 class="text-xs-center">
               <video id="bVideo" @click="playPause()" controls autoplay>
                    <source src="/static/video/video_company.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
          </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods: {
    playPause () {
      var bunnyVideo = document.getElementById('bVideo')
      var el = document.getElementById('playButton')
      if (bunnyVideo.paused) {
        bunnyVideo.play()
        el.className = ''
      } else {
        bunnyVideo.pause()
        el.className = 'playButton'
      }
    }
  }
}
</script>
<<style scoped>
video{
    width: 80% !important;
}
.playButton {
  border-radius: 100px;
  border: 8px solid #fff;
  height: 100px;
  position: absolute;
  width: 100px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  display: block;
  opacity: 0.95;
  transition: opacity 150ms;
}

.playButton:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  bottom: 0;
  margin: auto;
}
</style>
