<template>
  <v-container>
    <v-flex xs12 class="text-xs-center">
      <v-progress-circular
        indeterminate
        class="primary--text"
        :width="7"
        :size="70"
        v-if="loading">
        </v-progress-circular>
    </v-flex>
    <v-data-table
      v-bind:headers="headers"
      v-bind:items="items"
      v-bind:search="search"
      v-bind:pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator" >
            {{ props.header.text }}
          </span>
          <span>
            {{ props.header.text }}
          </span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <td  class="text-xs-left">{{ props.item.username }}</td>
        <td  class="text-xs-right">{{ props.item.email }}</td>
        <td>
          <v-switch color="primary"
            v-model="props.item.enabled"
          ></v-switch>
        </td>
      </template>
    </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
     <v-card-actions text-xs-center>
        <v-spacer></v-spacer>
        <v-btn v-on:click="openDialog()">
            Save
            <span slot="loader" class="custom-loader">
                <v-icon light>cached</v-icon>
            </span>
        </v-btn>
    </v-card-actions>  
    <v-dialog v-model="dialog" max-width="300px">
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Save changes?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="save()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>
<script>
  export default {
    created () {
      this.getUsers()
      this.isSuperUser()
    },
    data () {
      return {
        search: '',
        superuser: false,
        pagination: {rowsPerPage: 10},
        selected: [],
        headers: [],
        items: [],
        loading: true,
        dialog: false
      }
    },
    methods: {
      getUsers () {
        this.$store.dispatch('loadUsers')
        this.items = this.$store.getters.allUsers
        let self = this
        setTimeout(function () {
          self.items = self.$store.getters.allUsers
          self.loading = false
        }, 200)
      },
      isSuperUser () {
        let superuser = this.$store.getters.superuser
        if (superuser === true) {
          this.superuser = true
          this.headers = [
            {
              text: 'USERNAME',
              sortable: true,
              align: 'left',
              value: 'name'
            },
            { text: 'EMAIL', value: 'email' },
            { text: 'ENABLED', value: 'enabled' }
          ]
        }
      },
      save () {
        this.getUsers()
        this.$store.dispatch('updateUsers', this.items)
        this.dialog = false
      },
      openDialog () {
        this.dialog = true
      }
    },
    computed: {
      pages () {
        return Math.ceil(Number(this.items.length) / Number(this.pagination.rowsPerPage))
      }
    }
  }
</script>
<<style>
.application a{
  text-decoration:none;
}
</style>
