<template>
  <v-container>
    <v-flex xs12 class="text-xs-center">
      <div class="loader-pdf-modal" v-if="loading">
        <v-progress-circular
        indeterminate
        class="primary--text center loader-pdf"
        :width="7"
        :size="70"
        v-if="loading">
        </v-progress-circular>
      </div>
    </v-flex>
    <v-card>
    <v-card-title>
      CUSTOMER LIST
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    </v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :pagination.sync="pagination"
      hide-actions
      class="elevation-1"
    >
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator" >
            {{ props.header.text }}
          </span>
          <span>
            {{ props.header.text }}
          </span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <td  class="text-xs-left">{{ props.item.companyName }}</td>
        <td  class="text-xs-center">
          <router-link v-on:click.native="getClients()" :to = "{name: 'CustomerView', params:{
            props_companyName: props.item.companyName,
            props_contactPerson: props.item.contactPerson,
            props_email: props.item.email,
            props_phone: props.item.phone,
            props_country: props.item.country,
            props_city: props.item.city,
            props_market: props.item.market.toString(),
            props_truckCompany: props.item.truckCompany,
            props_truckAccount: props.item.truckAccount,
            props_truckDays: props.item.truckDays,
            props_cargo: props.item.cargo,
            props_volume: props.item.volume,
            props_mainLength: props.item.mainLength.toString(),
            props_currentSuppliers: props.item.currentSuppliers,
            props_status: props.item.status,
            props_notes: props.item.notes,
            props_createdBy: props.item.createdBy,
            props_createdOn: props.item.createdOn,
            props_modifiedBy: props.item.createdBy,
            props_modifiedOn: props.item.modifiedOn,
            props_pictures: props.item.pictures,
            props_id: props.item.id,
            props_handwritten: props.item.handwritten,
            props_key: props.item.key
          }}" >
          <v-btn flat icon><v-icon xs>pageview</v-icon></v-btn>
          </router-link>
        </td>
        <td  class="text-xs-right">{{ props.item.market }}</td>
        <!--<td  class="text-xs-right">{{ formatDate (props.item.createdOn) | moment("DD/MM/YYYY")}}</td>-->
        <td  class="text-xs-right">{{ formatStatus(props.item.status) }}</td>
        <td  class="text-xs-center">
          <router-link v-on:click.native="getClients()" :to = "{name: 'CustomerEdit', params:{
            props_companyName: props.item.companyName,
            props_contactPerson: props.item.contactPerson,
            props_email: props.item.email,
            props_phone: props.item.phone,
            props_country: props.item.country,
            props_city: props.item.city,
            props_market: props.item.market.toString(),
            props_truckCompany: props.item.truckCompany,
            props_truckAccount: props.item.truckAccount,
            props_truckDays: props.item.truckDays,
            props_cargo: props.item.cargo,
            props_volume: props.item.volume,
            props_mainLength: props.item.mainLength.toString(),
            props_currentSuppliers: props.item.currentSuppliers,
            props_status: props.item.status,
            props_notes: props.item.notes,
            props_createdBy: props.item.createdBy,
            props_createdOn: props.item.createdOn,
            props_modifiedBy: props.item.createdBy,
            props_modifiedOn: props.item.modifiedOn,
            props_pictures: props.item.pictures,
            props_id: props.item.id,
            props_handwritten: props.item.handwritten,
            props_key: props.item.key
          }}" >
          <v-btn flat icon><v-icon>edit</v-icon></v-btn>
          </router-link>
        </td>
        <td  v-if="isSuperUser" ><v-btn flat icon v-on:click="openDialog(props.item.key)"><v-icon xs>delete</v-icon></v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="#ff0000" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
     </v-data-table>
    <div class="text-xs-center pt-2">
      <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
    </div>
    <v-dialog v-model="dialog" max-width="300px">
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Delete this client?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="deleteCustomer()">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-container>
</template>
<script>
  export default {
    created () {
      this.getClients()
    },
    data () {
      return {
        search: '',
        pagination: {rowsPerPage: 10},
        selected: [],
        items: null,
        loading: true,
        dialog: false,
        idToEdit: null
      }
    },
    methods: {
      formatDate (inputStr) {
        let date = this.$moment(inputStr, 'dddd, MMMM Do YYYY, h:mm:ss a')
        let iso = date.toISOString()
        return iso
      },
      formatStatus (inputStr) {
        let status = inputStr.substring(3, 5)
        return status
      },
      getClients () {
        this.$store.dispatch('loadCustomers')
        let self = this
        this.loading = true
        setTimeout(function () {
          self.items = self.$store.getters.allCustomers
          self.loading = false
        }, 200)
      },
      openDialog (id) {
        this.dialog = true
        this.idToEdit = id
      },
      deleteCustomer () {
        this.$store.dispatch('deleteCustomer', this.idToEdit)
        this.dialog = false
        this.getClients()
      }
    },
    computed: {
      pages () {
        return Math.ceil(Number(this.items.length) / Number(this.pagination.rowsPerPage))
      },
      isSuperUser () {
        return this.$store.getters.superuser === true
      },
      headers () {
        let head = []
        if (this.isSuperUser) {
          head = [
            {
              text: 'COMPANY NAME',
              sortable: true,
              align: 'left',
              value: 'companyName'
            },
            { text: 'VIEW', value: 'view', align: 'center' },
            { text: 'MARKET', value: 'market' },
            /* { text: 'DATE', value: 'date' }, */
            { text: 'STATUS', value: 'status' },
            { text: 'EDIT', value: 'edit', align: 'center' },
            {text: 'DELETE', value: 'delete'}
          ]
        } else {
          head = [
            {
              text: 'COMPANY NAME',
              sortable: true,
              align: 'left',
              value: 'companyName'
            },
            { text: 'VIEW', value: 'view', align: 'center' },
            { text: 'MARKET', value: 'market' },
            /* { text: 'DATE', value: 'date' }, */
            { text: 'STATUS', value: 'status' },
            { text: 'EDIT', value: 'edit', align: 'center' }
          ]
        }
        return head
      }
    }
  }
</script>
<<style>
.application a{
  text-decoration:none;
}
.loader-pdf{
    position: absolute !important;
    bottom: 50vh;
    right: 40vw;
}
.loader-pdf-modal{
    position: absolute !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
</style>
