<template>
  <v-container class="mt-0" >
    <v-layout row wrap>
       <v-flex xs12 class="text-xs-right py-5">
            <div class="display-1">TESSACORP</div>
            <v-divider></v-divider>
            <div class="title">customers</div>
      </v-flex>
      <v-flex xs12 class="text-xs-center pb-5">
          <router-link to="/customernew">
            <v-card class="pa-4"  >
              <div class="title"><v-icon large left>person_add</v-icon> NEW CUSTOMER</div>      
            </v-card>
          </router-link>
      </v-flex>
       <v-flex xs12 class="text-xs-center pb-5">
          <router-link to="/customerlist">
            <v-card class="pa-4"  >
              <div class="title"><v-icon large left>list</v-icon> CUSTOMER LIST</div>      
            </v-card>
          </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        clientItems: [
          { icon: 'person_add',
            title: 'New Customer',
            link: '/company'},
          { icon: 'list',
            title: 'Customer List',
            link: '/customerlist'}
        ]
      }
    }
  }
</script>
<style scoped>
  .title{
    font-weight: 100;
  }
  a{
    text-decoration: none;
  }
</style>
