<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12 class="text-xs-right py-5">
                    <div class="display-1">TESSACORP</div>
                    <v-divider></v-divider>
                    <div class="title">new customer</div>
            </v-flex>
        </v-layout>
        <v-layout row v-if="error">
            <v-flex xs12 sm6 offset-sm3>
                <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
            </v-flex>
        </v-layout>
        <form @submit.prevent="openDialog">
            <v-layout row wrap class="white lighten-3 pa-4">
                <v-flex  xs12 sm12 md6 class="pa-4">
                    <v-container>
                        <v-layout row wrap>
                            <camera-component></camera-component>
                            <v-flex xs12 sm6>
                            <v-text-field label="Company Name" v-model="companyName" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Contact Person" v-model="contactPerson"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Email" v-model="email"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Phone" v-model="phone"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-select
                                label="Market"
                                v-model="market"
                                autocomplete
                                :items="['RUSIA', 'USA', 'EUROPA', 'ASIA', 'SUDAMERICA']"
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-text-field label="Country" v-model="country"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-text-field label="City" v-model="city"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'"  >
                            <v-text-field label="Truck Company" v-model="truckCompany"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'" >
                            <v-text-field label="Truck Account #" v-model="truckAccount" ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'" >
                            <v-text-field label="Truck Days"  v-model="truckDays"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-select
                                label="Cargo Agency"
                                autocomplete
                                :items="['ALIANZA LOGISTIKA','DEIJL CARGO','DIRECT CARGO','KUEHNE + NAGEL','ECUCARGA','ECUADOR CARGO','PANATLANTIC','MASTER','TRANSPORT','TRANSINTERNATIO','NAL','PACIFIC CARGO','SIERRACARGO','EBF CARGO','FRESH LOGISTIC','WORLD WIDE','G&G CARGO','FRESH LINK CARGO','FLOWERCARGO','PANALPINA','REAL CARGO','SAFTEC','CARGO MASTER','AIRSEATRANS','VALUE CARGO']"
                                v-model="cargo" 
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Volume" v-model="volume"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-select
                                label="Main Length"
                                multiple
                                autocomplete
                                :items="['40 cm', '50 cm', '60 cm', '70 cm ', '80 cm', '90 cm', '100 cm']"
                                v-model="mainLength" 
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Current Suppliers" v-model="currentSuppliers" ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                            <v-select
                                label="Status"
                                :items="['1 - VISIT', '2 - SHOW', '3 - REFERENCE']"
                                v-model="status"
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 >
                            <v-text-field label="Id" v-model="id"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
                <v-flex xs12 sm12 md6 class="pa-4">
                    <v-container fluid>
                        <v-layout row wrap>
                                <v-text-field xs12
                                label="Notes"
                                multi-line
                                v-model="notes"
                                ></v-text-field>
                            <v-flex xs12>
                                <div class="input-group py-1">
                                    <label>Handwritten Notes</label>
                                </div>     
                                <v-container fluid>
                                    <v-layout row wrap>
                                        <v-flex xs6 sm4>
                                            <v-btn class="picture-button" flat @click.stop="opennotes(0)">
                                                <v-icon x-large v-if="handWritten[0]!==''">note</v-icon>
                                                <v-icon x-large v-if="handWritten[0]===''">edit</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-btn class="picture-button" flat @click.stop="opennotes(1)">
                                                <v-icon x-large v-if="handWritten[1]!==''">note</v-icon>
                                                <v-icon x-large v-if="handWritten[1]===''">edit</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-btn class="picture-button" flat @click.stop="opennotes(2)">
                                                <v-icon x-large v-if="handWritten[2]!==''">note</v-icon>
                                                <v-icon x-large v-if="handWritten[2]===''">edit</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-btn class="picture-button" flat @click.stop="opennotes(3)">
                                                <v-icon x-large v-if="handWritten[3]!==''">note</v-icon>
                                                <v-icon x-large v-if="handWritten[3]===''">edit</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-btn class="picture-button" flat @click.stop="opennotes(4)">
                                                <v-icon x-large v-if="handWritten[4]!==''">note</v-icon>
                                                <v-icon x-large v-if="handWritten[4]===''">edit</v-icon>
                                            </v-btn>
                                        </v-flex>
                                        <v-dialog v-model="dialogNotes" fullscreen transition="dialog-bottom-transition">
                                            <v-container fluid class="camera-modal" text-xs-center>
                                                <canvas id="notes"></canvas>
                                                <v-flex xs12 text-xs-center>
                                                    <v-btn class="take-picture-button py-5" @click.stop="takeNotes()">
                                                        <v-icon color="red lighten-1" x-large >edit</v-icon>
                                                    </v-btn>
                                                    <v-btn class="take-picture-button py-5" @click.stop="closenotes()"><v-icon color="red lighten-1" x-large>close</v-icon></v-btn>
                                                </v-flex>
                                            </v-container>
                                        </v-dialog>
                                    </v-layout>
                                </v-container>                                   
                            </v-flex>
                            <v-flex xs12>
                                <div class="input-group py-1">
                                    <label>Pictures</label>
                                </div>
                                <div class="input-group py-1">
                                    <label>Add Pictures from:</label>
                                </div>
                                <v-radio-group v-model="addFile" :mandatory="true">
                                    <v-radio label="File" value="File"></v-radio>
                                    <v-radio label="Take new picture" value="Take new picture"></v-radio>
                                </v-radio-group>
                                <v-container fluid>
                                
                                <v-layout row wrap v-if="addFile==='File'">
                                    <v-flex xs6 sm4>
                                        <picture-input 
                                            ref="pictureInput1"
                                            width="600" 
                                            height="600" 
                                            margin="16" 
                                            accept="image/jpeg,image/png" 
                                            size="10" 
                                            button-class="btn"
                                            :custom-strings="{
                                                upload: '<h1>Add Picture</h1>',
                                                drag: 'Drag a picture'
                                            }"
                                            @change="onChangeFirst">
                                        </picture-input>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                       <picture-input 
                                            ref="pictureInput2"
                                            width="600" 
                                            height="600" 
                                            margin="16" 
                                            accept="image/jpeg,image/png" 
                                            size="10" 
                                            button-class="btn"
                                            :custom-strings="{
                                                upload: '<h1>Add Picture</h1>',
                                                drag: 'Drag a picture'
                                            }"
                                            @change="onChangeSecond">
                                        </picture-input>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <picture-input 
                                            ref="pictureInput3"
                                            width="600" 
                                            height="600" 
                                            margin="16" 
                                            accept="image/jpeg,image/png" 
                                            size="10" 
                                            button-class="btn"
                                            :custom-strings="{
                                                upload: '<h1>Add Picture</h1>',
                                                drag: 'Drag a picture'
                                            }"
                                            @change="onChangeThird">
                                        </picture-input>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                       <picture-input 
                                            ref="pictureInput4"
                                            width="600" 
                                            height="600" 
                                            margin="16" 
                                            accept="image/jpeg,image/png" 
                                            size="10" 
                                            button-class="btn"
                                            :custom-strings="{
                                                upload: '<h1>Add Picture</h1>',
                                                drag: 'Drag a picture'
                                            }"
                                            @change="onChangeFour">
                                        </picture-input>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <picture-input 
                                            ref="pictureInput5"
                                            width="600" 
                                            height="600" 
                                            margin="16" 
                                            accept="image/jpeg,image/png" 
                                            size="10" 
                                            button-class="btn"
                                            :custom-strings="{
                                                upload: '<h1>Add Picture</h1>',
                                                drag: 'Drag a picture'
                                            }"
                                            @change="onChangeFive">
                                        </picture-input>
                                    </v-flex>
                                </v-layout>    
                                <v-layout row wrap v-if="addFile==='Take new picture'">
                                    <v-flex xs6 sm4>
                                        <v-btn class="picture-button" flat @click.stop="opencamera(0)">
                                            <v-icon x-large v-if="pictures[0]===''">add_a_photo</v-icon>
                                            <v-icon x-large v-if="pictures[0]!==''">photo</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <v-btn class="picture-button" flat @click.stop="opencamera(1)">
                                            <v-icon x-large v-if="pictures[1]===''">add_a_photo</v-icon>
                                            <v-icon x-large v-if="pictures[1]!==''">photo</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <v-btn class="picture-button" flat @click.stop="opencamera(2)">
                                            <v-icon x-large v-if="pictures[2]===''">add_a_photo</v-icon>
                                            <v-icon x-large v-if="pictures[2]!==''">photo</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <v-btn class="picture-button" flat @click.stop="opencamera(3)">
                                            <v-icon x-large v-if="pictures[3]===''">add_a_photo</v-icon>
                                            <v-icon x-large v-if="pictures[3]!==''">photo</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 sm4>
                                        <v-btn class="picture-button" flat @click.stop="opencamera(4)">
                                            <v-icon x-large v-if="pictures[4]===''">add_a_photo</v-icon>
                                            <v-icon x-large v-if="pictures[4]!==''">photo</v-icon>
                                        </v-btn>
                                    </v-flex>
                                <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition">
                                    <v-container fluid class="camera-modal" text-xs-center>
                                        <v-layout fill-height row wrap>
                                            <v-flex xs12>
                                                <video ref="video" class="camera-stream"/>
                                            </v-flex>
                                            <v-flex xs12 text-xs-center>
                                                <v-btn class="take-picture-button py-5" @click.stop="capture()">
                                                    <v-icon color="red lighten-1" x-large >camera</v-icon>
                                                </v-btn>
                                                <v-btn class="take-picture-button py-5" @click.stop="closecamera()"><v-icon color="red lighten-1" x-large>close</v-icon></v-btn>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-dialog>
                                </v-layout>
                                </v-container>
                            </v-flex>               
                        </v-layout>                         
                    </v-container>
                    <v-card-actions text-xs-right>
                        <v-spacer></v-spacer>
                        <v-btn color="grey lighten-1" to="/customers" flat>Cancel</v-btn>
                        <v-btn color="red lighten-1" type="submit" :disabled="disabled" :loading="loading">
                            Save
                            <span slot="loader" class="custom-loader">
                                <v-icon light>cached</v-icon>
                            </span>
                        </v-btn>
                    </v-card-actions>  
                    <v-flex xs12 text-xs-right>
                        <div class="py-5" >
                        <span class="data-creation">creating on {{createdOn}}<br>by {{createdBy}} <br></span>
                        </div>
                    </v-flex>
                    </v-flex>
                </v-layout> 
        </form>      
        <v-layout row justify-center>   
        <v-dialog  v-model="dialogo" max-width="300px"   hide-overlay>
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Save changes?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialogo=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="newCustomer()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>   
        </v-layout>  
    </v-container>
</template>
<<script>
import SignaturePad from 'signature_pad'
import PictureInput from 'vue-picture-input'

export default {
  data () {
    return {
      pad: null,
      addFile: 'File',
      market: '',
      dialog: false,
      dialogNotes: false,
      mediaStream: null,
      canvas: null,
      valid: false,
      companyName: '',
      contactPerson: '',
      email: '',
      phone: '',
      country: '',
      city: '',
      truckCompany: '',
      truckAccount: '',
      truckDays: '',
      cargo: '',
      volume: '',
      mainLength: '',
      currentSuppliers: '',
      status: '',
      id: '',
      notes: '',
      createdBy: this.$store.getters.username,
      createdOn: this.$moment(new Date()).format('dddd, MMMM Do YYYY, h:mm:ss a'),
      pictures: ['', '', '', '', ''],
      picCount: null,
      handWritten: ['', '', '', '', ''],
      handCount: null,
      dialogo: false,
      dialogAddFile: false
    }
  },
  components: {
    PictureInput
  },
  computed: {
    disabled () {
      // if (this.companyName !== '' && this.contactPerson !== '' && this.email !== '' && this.phone !== '' && this.country !== '' && this.city !== '' && this.market !== '' && this.cargo !== '' && this.status !== '' && this.id !== '' && this.mainLength !== '' && this.volume !== '') {
      if (this.companyName !== '') {
        return false
      }
      return true
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    },
    username () {
      return this.$store.getters.username
    }
  },
  mounted () {
    this.canvas = document.getElementById('notes')
    this.canvas.width = 800
    this.canvas.height = 600
    this.pad = new SignaturePad(this.canvas, {
      backgroundColor: 'rgb(255, 255, 255)',
      penColor: 'rgb(0, 0, 0)'
    })
  },
  destroyed () {
    const tracks = this.mediaStream.getTracks()
    tracks.map(track => track.stop())
  },
  methods: {
    clear () {
      this.pad.clear()
      this.$emit('input', this.pad.toDataURL())
    },
    capture () {
      const mediaStreamTrack = this.mediaStream.getVideoTracks()[0]
      const imageCapture = new window.ImageCapture(mediaStreamTrack)
      return imageCapture.takePhoto().then(blob => {
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        this.closecamera()

        var promise = Promise.resolve(this.$store.dispatch('saveTempPicture', data))
        let img = promise.then(function (value) {
          return value
        })
        if (this.picCount !== null) {
          this.pictures[this.picCount] = img.then(value => { return value })
        }
      })
    },
    onChangeFirst (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[0] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeSecond (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[1] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeThird (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[2] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeFour (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[3] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeFive (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[4] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    takeNotes () {
      var dataURL = this.pad.toDataURL()
      var parts = dataURL.split(';base64,')
      var contentType = parts[0].split(':')[1]
      var raw = window.atob(parts[1])
      var rawLength = raw.length
      var uInt8Array = new Uint8Array(rawLength)
      for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i)
      }
      var blob = new Blob([uInt8Array], { type: contentType })
      var data = {
        'username': this.createdBy,
        'blob': blob
      }
      var promise = Promise.resolve(this.$store.dispatch('saveTempNote', data))
      let img = promise.then(function (value) {
        return value
      })
      if (this.handCount !== null) {
        this.handWritten[this.handCount] = img.then(value => { return value })
      }
      this.pad.isEmpty()
      this.dialogNotes = false
    },
    addPhoto (picCount) {
      console.log('picCount: ', picCount)
      this.dialogAddFile = true
    },
    opencamera (picCount) {
      var isMobile = {
        Android: function () {
          return navigator.userAgent.match(/Android/i)
        },
        BlackBerry: function () {
          return navigator.userAgent.match(/BlackBerry/i)
        },
        iOS: function () {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i)
        },
        Opera: function () {
          return navigator.userAgent.match(/Opera Mini/i)
        },
        Windows: function () {
          return navigator.userAgent.match(/IEMobile/i)
        },
        any: function () {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows())
        }
      }
      this.dialog = true
      this.picCount = picCount
      navigator.mediaDevices.getUserMedia({ video: true })
      .then(mediaStream => {
        console.log('mediaDevices: ', navigator)
        console.log('mediaStream: ', mediaStream)
        this.mediaStream = mediaStream
        this.$refs.video.srcObject = mediaStream
        this.$refs.video.play()
      })
    .catch(error => console.error('getUserMedia() error:', error))
    },
    closecamera () {
      this.dialog = false
      if (this.mediaStream !== null) {
        const tracks = this.mediaStream.getTracks()
        tracks.map(track => track.stop())
      }
    },
    openDialog () {
      this.dialogo = true
    },
    opennotes (handCount) {
      this.pad.clear()
      this.dialogNotes = true
      this.handCount = handCount
    },
    closenotes () {
      this.dialogNotes = false
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    },
    async newCustomer () {
      let photos = []
      for (let i in this.pictures) {
        if (this.pictures[i] !== '') {
          if (typeof this.pictures[i] === 'string') {
            photos.push(this.pictures[i])
          } else {
            await this.pictures[i].then((value) => {
              console.log('picture to upload: ', value)
              photos.push(value)
            })
          }
        }
      }
      let handnotes = []
      for (let i in this.handWritten) {
        if (this.handWritten[i] !== '') {
          await this.handWritten[i].then((value) => {
            handnotes.push(value)
          })
        }
      }
      let client = {
        companyName: this.companyName,
        contactPerson: this.contactPerson,
        email: this.email,
        phone: this.phone,
        country: this.country,
        city: this.city,
        market: this.market,
        truckCompany: this.truckCompany,
        truckAccount: this.truckAccount,
        truckDays: this.truckDays,
        cargo: this.cargo,
        volume: this.volume,
        mainLength: this.mainLength.toString(),
        currentSuppliers: this.currentSuppliers,
        status: this.status,
        id: this.id,
        notes: this.notes,
        createdBy: this.createdBy,
        createdOn: this.$moment(new Date()).format('dddd, MMMM Do YYYY, h:mm:ss a'),
        modifiedBy: this.createdBy,
        modifiedOn: this.$moment(new Date()).format('dddd, MMMM Do YYYY, h:mm:ss a'),
        pictures: photos,
        handWritten: handnotes
      }
      this.$store.dispatch('newCustomer', client)
      this.companyName = ''
      this.contactPerson = ''
      this.email = ''
      this.phone = ''
      this.country = ''
      this.city = ''
      this.truckCompany = ''
      this.truckAccount = ''
      this.truckDays = ''
      this.volume = ''
      this.currentSuppliers = ''
      this.status = ''
      this.id = ''
      this.notes = ''
      this.pictures = ['', '', '', '', '']
      this.handWritten = ['', '', '', '', '']
      this.dialogo = false
      window.location.replace('customerlist')
    }
  }
}
</script>
<<style scoped>
.picture-button{
  display: inline-block;
  border: solid 2px #F16764;
  border-radius: 5px;
  padding: 30% 10%;
}
#notes{
  max-width: 800px;
  max-height: 600px;
  text-align: center;
  margin: 0 auto;
  display: table;
}   
a{
  text-decoration: none;
} 
.data-creation{
    color: #787878;
    font-weight: 100;
}

.camera-modal {
    width: 100%;
    height: 100%;
    background: #000;
}
.camera-stream{
    max-width: 100%;
}
.take-picture-button {
    display: inline-block;
    border: 2px solid #F16764;
    border-radius: 50px;
    background-color: #fff !important;
}
</style>
