<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs12 class="text-xs-right py-5">
                    <div class="display-1">TESSACORP</div>
                    <v-divider></v-divider>
                    <div class="title">Edit customer</div>
            </v-flex>
        </v-layout>
        <v-layout row v-if="error">
            <v-flex xs12 sm6 offset-sm3>
                <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
            </v-flex>
        </v-layout>
        <form @submit.prevent="openDialog">
            <v-layout row wrap class="white lighten-3 pa-4">
        <v-flex xs12 text-xs-center>
            <v-progress-circular
            indeterminate
            class="primary--text center"
            :width="7"
            :size="70"
            v-if="loading">
            </v-progress-circular>
        </v-flex>
        </v-layout>  
            <v-layout row wrap class="white lighten-3 pa-4">
                <v-flex  xs12 sm12 md6 class="pa-4">
                    <v-container>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                            <v-text-field label="Company Name" v-model="companyName" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Contact Person" v-model="contactPerson" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Email" v-model="email"  required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Phone" v-model="phone" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-select
                                :items="['RUSIA', 'USA', 'EUROPA', 'ASIA', 'SUDAMERICA']"
                                v-model="market"
                                label="Market"
                                autocomplete
                                item-text="market" 
                                return-object
                                required
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-text-field label="Country" v-model="country" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                            <v-text-field label="City" v-model="city" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'"  >
                            <v-text-field label="Truck Company" v-model="truckCompany"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'" >
                            <v-text-field label="Truck Account #" v-model="truckAccount" ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4 v-if="market=='USA'" >
                            <v-text-field label="Truck Days"  v-model="truckDays"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-select
                                label="Cargo Agency"
                                required
                                autocomplete
                                :items="['ALIANZA LOGISTIKA','DEIJL CARGO','DIRECT CARGO','KUEHNE + NAGEL','ECUCARGA','ECUADOR CARGO','PANATLANTIC','MASTER','TRANSPORT','TRANSINTERNATIO','NAL','PACIFIC CARGO','SIERRACARGO','EBF CARGO','FRESH LOGISTIC','WORLD WIDE','G&G CARGO','FRESH LINK CARGO','FLOWERCARGO','PANALPINA','REAL CARGO','SAFTEC','CARGO MASTER','AIRSEATRANS','VALUE CARGO']"
                                v-model="cargo" 
                                item-text="cargo" 
                                return-object
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Volume" v-model="volume" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-select
                                label="Main Length"
                                required
                                multiple
                                autocomplete
                                :items="['40 cm', '50 cm', '60 cm', '70 cm ', '80 cm', '90 cm', '100 cm']"
                                v-model="mainLength" 
                                item-text="mainLength" 
                                return-object
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6>
                            <v-text-field label="Current Suppliers" v-model="currentSuppliers" ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                            <v-select
                                label="Status"
                                required
                                :items="['1 - VISIT', '2 - SHOW', '3 - REFERENCE']"
                                v-model="status"
                                item-text="status" 
                                return-object
                            ></v-select>
                            </v-flex>
                            <v-flex xs12 >
                            <v-text-field label="Id" v-model="id" required ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
                <v-flex xs12 sm12 md6 class="pa-4">
                    <v-container fluid>
                        <v-layout row wrap>
                                <v-text-field xs12
                                label="Notes"
                                multi-line
                                v-model="notes"
                                ></v-text-field>
                            <v-flex xs12>
                                <div class="input-group py-1">
                                    <label>Handwritten Notes</label>
                                </div>     
                                <v-container fluid>
                                    <v-layout row wrap>
                                        <v-flex xs6 sm4 class="picCont">
                                            <a v-if="handWritten[0] !== ''" :href='handWritten[0]' target="_blank"><img :src='handWritten[0]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="handWritten[0] !== ''" @click.stop="opennotes(0)"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn class="picture-button" flat v-if="handWritten[0] === ''" @click.stop="opennotes(0)">
                                                <v-icon x-large v-if="handWritten[0]===''">edit</v-icon>
                                            </v-btn>
                                            <v-btn flat icon v-if="handWritten[0] !== ''" @click.stop="openDialog2(0)"><v-icon xs>delete</v-icon></v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4 class="picCont">
                                            <a v-if="handWritten[1] !== ''" :href='handWritten[1]' target="_blank"><img :src='handWritten[1]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="handWritten[1] !== ''" @click.stop="opennotes(1)"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn class="picture-button" flat v-if="handWritten[1] === ''" @click.stop="opennotes(1)">
                                                <v-icon x-large v-if="handWritten[1]===''">edit</v-icon>
                                            </v-btn>
                                            <v-btn flat icon v-if="handWritten[1] !== ''" @click.stop="openDialog2(1)"><v-icon xs>delete</v-icon></v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4 class="picCont">
                                            <a v-if="handWritten[2] !== ''" :href='handWritten[2]' target="_blank"><img :src='handWritten[2]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="handWritten[2] !== ''" @click.stop="opennotes(2)"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn class="picture-button" flat v-if="handWritten[2] === ''" @click.stop="opennotes(2)">
                                                <v-icon x-large v-if="handWritten[2]===''">edit</v-icon>
                                            </v-btn>
                                            <v-btn flat icon v-if="handWritten[2] !== ''" @click.stop="openDialog2(2)"><v-icon xs>delete</v-icon></v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4 class="picCont">
                                            <a v-if="handWritten[3] !== ''" :href='handWritten[3]' target="_blank"><img :src='handWritten[3]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="handWritten[3] !== ''" @click.stop="opennotes(3)"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn class="picture-button" flat v-if="handWritten[3] === ''" @click.stop="opennotes(3)">
                                                <v-icon x-large v-if="handWritten[3]===''">edit</v-icon>
                                            </v-btn>
                                            <v-btn flat icon v-if="handWritten[3] !== ''" @click.stop="openDialog2(3)"><v-icon xs>delete</v-icon></v-btn>
                                        </v-flex>
                                        <v-flex xs6 sm4 class="picCont">
                                            <a v-if="handWritten[4] !== ''" :href='handWritten[4]' target="_blank"><img :src='handWritten[4]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="handWritten[4] !== ''" @click.stop="opennotes(4)"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn class="picture-button" flat v-if="handWritten[4] === ''" @click.stop="opennotes(4)">
                                                <v-icon x-large v-if="handWritten[4]===''">edit</v-icon>
                                            </v-btn>
                                            <v-btn flat icon v-if="handWritten[4] !== ''" @click.stop="openDialog2(4)"><v-icon xs>delete</v-icon></v-btn>
                                        </v-flex>
                                        <v-dialog v-model="dialogNotes" fullscreen transition="dialog-bottom-transition">
                                            <v-container fluid class="camera-modal" text-xs-center>
                                                <canvas id="notes"></canvas>
                                                <v-flex xs12 text-xs-center>
                                                    <v-btn class="take-picture-button py-5" @click.stop="takeNotes()">
                                                        <v-icon color="red lighten-1" x-large >edit</v-icon>
                                                    </v-btn>
                                                    <v-btn class="take-picture-button py-5" @click.stop="closenotes()"><v-icon color="red lighten-1" x-large>close</v-icon></v-btn>
                                                </v-flex>
                                            </v-container>
                                        </v-dialog>
                                    </v-layout>
                                </v-container>                                   
                            </v-flex>
                            <v-flex xs12>
                                <div class="input-group py-1">
                                    <label>Pictures</label>
                                </div>
                                <v-container fluid>
                                <v-layout row wrap>
                                    <v-flex xs6 sm4 class="picCont">
                                        <div v-if="editFirstPicture===false">
                                            <a v-if="pictures[0] !== ''" :href='pictures[0]' target="_blank"><img :src='pictures[0]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="pictures[0] !== ''" @click.stop="openDialogFirst()"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn flat icon v-if="pictures[0] !== ''" @click.stop="openDialog3(0)"><v-icon xs>delete</v-icon></v-btn>
                                        </div>
                                        <div v-if="editFirstPicture===true">
                                          <div class="input-group py-1">
                                              <label class="radioUploadFile">Add Pictures from:</label>
                                          </div>
                                          <v-radio-group v-model="addFileFirst" :mandatory="true">
                                              <v-radio class="radioUploadFile" label="File" value="File"></v-radio>
                                              <v-radio class="radioUploadFile" label="Take new picture" value="Take new picture"></v-radio>
                                          </v-radio-group>
                                            <div v-if="addFileFirst==='Take new picture'">
                                              <v-btn class="picture-button" flat @click.stop="opencamera(0)">
                                                  <v-icon x-large >add_a_photo</v-icon>
                                              </v-btn>
                                              </div>
                                              <div v-if="addFileFirst === 'File'">
                                                <picture-input 
                                                    ref="pictureInput1"
                                                    width="600" 
                                                    height="600" 
                                                    margin="16" 
                                                    accept="image/jpeg,image/png" 
                                                    size="10" 
                                                    button-class="btn"
                                                    :custom-strings="{
                                                        upload: '<h1>Add Picture</h1>',
                                                        drag: 'Drag a picture'
                                                    }"
                                                    @change="onChangeFirst">
                                                </picture-input>
                                              </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs6 sm4 class="picCont">
                                        <div v-if="editSecondPicture===false">
                                            <a v-if="pictures[1] !== ''" :href='pictures[1]' target="_blank"><img :src='pictures[1]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="pictures[1] !== ''" @click.stop="openDialogSecond()"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn flat icon v-if="pictures[1] !== ''" @click.stop="openDialog3(1)"><v-icon xs>delete</v-icon></v-btn>
                                        </div>
                                        <div v-if="editSecondPicture===true">
                                          <div class="input-group py-1">
                                              <label class="radioUploadFile">Add Pictures from:</label>
                                          </div>
                                          <v-radio-group v-model="addFileSecond" :mandatory="true">
                                              <v-radio class="radioUploadFile" label="File" value="File"></v-radio>
                                              <v-radio class="radioUploadFile" label="Take new picture" value="Take new picture"></v-radio>
                                          </v-radio-group>
                                            <div v-if="addFileSecond==='Take new picture'">
                                              <v-btn class="picture-button" flat @click.stop="opencamera(1)">
                                                  <v-icon x-large >add_a_photo</v-icon>
                                              </v-btn>
                                              </div>
                                              <div v-if="addFileSecond === 'File'">
                                                <picture-input 
                                                    ref="pictureInput2"
                                                    width="600" 
                                                    height="600" 
                                                    margin="16" 
                                                    accept="image/jpeg,image/png" 
                                                    size="10" 
                                                    button-class="btn"
                                                    :custom-strings="{
                                                        upload: '<h1>Add Picture</h1>',
                                                        drag: 'Drag a picture'
                                                    }"
                                                    @change="onChangeSecond">
                                                </picture-input>
                                              </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs6 sm4 class="picCont">
                                        <div v-if="editThirdPicture===false">
                                            <a v-if="pictures[2] !== ''" :href='pictures[2]' target="_blank"><img :src='pictures[2]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="pictures[2] !== ''" @click.stop="openDialogThird()"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn flat icon v-if="pictures[2] !== ''" @click.stop="openDialog3(2)"><v-icon xs>delete</v-icon></v-btn>
                                        </div>
                                        <div v-if="editThirdPicture===true">
                                          <div class="input-group py-1">
                                              <label class="radioUploadFile">Add Pictures from:</label>
                                          </div>
                                          <v-radio-group v-model="addFileThird" :mandatory="true">
                                              <v-radio class="radioUploadFile" label="File" value="File"></v-radio>
                                              <v-radio class="radioUploadFile" label="Take new picture" value="Take new picture"></v-radio>
                                          </v-radio-group>
                                            <div v-if="addFileThird==='Take new picture'">
                                              <v-btn class="picture-button" flat @click.stop="opencamera(2)">
                                                  <v-icon x-large >add_a_photo</v-icon>
                                              </v-btn>
                                              </div>
                                              <div v-if="addFileThird === 'File'">
                                                <picture-input 
                                                    ref="pictureInput3"
                                                    width="600" 
                                                    height="600" 
                                                    margin="16" 
                                                    accept="image/jpeg,image/png" 
                                                    size="10" 
                                                    button-class="btn"
                                                    :custom-strings="{
                                                        upload: '<h1>Add Picture</h1>',
                                                        drag: 'Drag a picture'
                                                    }"
                                                    @change="onChangeThird">
                                                </picture-input>
                                              </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs6 sm4 class="picCont">
                                        <div v-if="editFourPicture===false">
                                            <a v-if="pictures[3] !== ''" :href='pictures[3]' target="_blank"><img :src='pictures[3]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="pictures[3] !== ''" @click.stop="openDialogFour()"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn flat icon v-if="pictures[3] !== ''" @click.stop="openDialog3(3)"><v-icon xs>delete</v-icon></v-btn>
                                        </div>
                                        <div v-if="editFourPicture===true">
                                          <div class="input-group py-1">
                                              <label class="radioUploadFile">Add Pictures from:</label>
                                          </div>
                                          <v-radio-group v-model="addFileFour" :mandatory="true">
                                              <v-radio class="radioUploadFile" label="File" value="File"></v-radio>
                                              <v-radio class="radioUploadFile" label="Take new picture" value="Take new picture"></v-radio>
                                          </v-radio-group>
                                            <div v-if="addFileFour==='Take new picture'">
                                              <v-btn class="picture-button" flat @click.stop="opencamera(3)">
                                                  <v-icon x-large >add_a_photo</v-icon>
                                              </v-btn>
                                              </div>
                                              <div v-if="addFileFour === 'File'">
                                                <picture-input 
                                                    ref="pictureInput4"
                                                    width="600" 
                                                    height="600" 
                                                    margin="16" 
                                                    accept="image/jpeg,image/png" 
                                                    size="10" 
                                                    button-class="btn"
                                                    :custom-strings="{
                                                        upload: '<h1>Add Picture</h1>',
                                                        drag: 'Drag a picture'
                                                    }"
                                                    @change="onChangeFour">
                                                </picture-input>
                                              </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs6 sm4 class="picCont">
                                         <div v-if="editFivePicture===false">
                                            <a v-if="pictures[4] !== ''" :href='pictures[4]' target="_blank"><img :src='pictures[4]' alt="" style="width:150px;padding:10px;"/></a>
                                            <v-btn class="editPicture" flat icon v-if="pictures[4] !== ''" @click.stop="openDialogFive()"><v-icon xs>edit</v-icon></v-btn>
                                            <v-btn flat icon v-if="pictures[4] !== ''" @click.stop="openDialog3(4)"><v-icon xs>delete</v-icon></v-btn>
                                        </div>
                                        <div v-if="editFivePicture===true">
                                          <div class="input-group py-1">
                                              <label class="radioUploadFile">Add Pictures from:</label>
                                          </div>
                                          <v-radio-group v-model="addFileFive" :mandatory="true">
                                              <v-radio class="radioUploadFile" label="File" value="File"></v-radio>
                                              <v-radio class="radioUploadFile" label="Take new picture" value="Take new picture"></v-radio>
                                          </v-radio-group>
                                            <div v-if="addFileFive==='Take new picture'">
                                              <v-btn class="picture-button" flat @click.stop="opencamera(4)">
                                                  <v-icon x-large >add_a_photo</v-icon>
                                              </v-btn>
                                              </div>
                                              <div v-if="addFileFive === 'File'">
                                                <picture-input 
                                                    ref="pictureInput5"
                                                    width="600" 
                                                    height="600" 
                                                    margin="16" 
                                                    accept="image/jpeg,image/png" 
                                                    size="10" 
                                                    button-class="btn"
                                                    :custom-strings="{
                                                        upload: '<h1>Add Picture</h1>',
                                                        drag: 'Drag a picture'
                                                    }"
                                                    @change="onChangeFive">
                                                </picture-input>
                                              </div>
                                        </div>
                                    </v-flex>
                                   
                                <v-dialog 
                                    v-model="dialog" fullscreen transition="dialog-bottom-transition">
                                        <v-container fluid class="camera-modal" text-xs-center>
                                            <v-layout fill-height row wrap>
                                                <v-flex xs12>
                                                    <video ref="video" class="camera-stream"/>
                                                </v-flex>
                                                <v-flex xs12 text-xs-center>
                                                    <v-btn class="take-picture-button py-5" @click.stop="capture()">
                                                        <v-icon color="red lighten-1" x-large >camera</v-icon>
                                                    </v-btn>
                                                    <v-btn class="take-picture-button py-5" @click.stop="closecamera()"><v-icon color="red lighten-1" x-large>close</v-icon></v-btn>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-dialog>
                                </v-layout>
                                </v-container>
                            </v-flex>               
                        </v-layout>                         
                    </v-container>
                    <v-card-actions text-xs-right>
                        <v-spacer></v-spacer>
                        <v-btn color="grey lighten-1" to="/customers" flat>Cancel</v-btn>
                        <v-btn color="red lighten-1" type="submit" :disabled="disabled" :loading="loading">
                            EDIT
                            <span slot="loader" class="custom-loader">
                                <v-icon light>cached</v-icon>
                            </span>
                        </v-btn>
                    </v-card-actions>  
                    <v-flex xs12 text-xs-right>
                        <div class="py-5" >
                        <span class="data-creation">creating on {{modifiedOn}}<br>by {{modifiedBy}} <br></span>
                        </div>
                    </v-flex>
                    </v-flex>
                </v-layout> 
        </form>          
        <v-dialog v-model="dialogo" max-width="300px">
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Save changes?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialogo=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="editCustomer()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>  
      <v-dialog v-model="dialogo2" max-width="300px">
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Delete item?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialogo2=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="deleteNotes()">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>  
       <v-dialog v-model="dialogo3" max-width="300px">
        <v-card>
          <v-card-title>
            <span><b>Confirmation</b></span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-title>
            <span>Delete item?</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialogo3=false">Close</v-btn>
            <v-btn color="primary"  @click.stop="deleteImage()">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>  
        </v-container>
</template>
<<script>
import SignaturePad from 'signature_pad'
import PictureInput from 'vue-picture-input'

export default {
  props: [
    'props_companyName',
    'props_contactPerson',
    'props_email',
    'props_phone',
    'props_country',
    'props_city',
    'props_handwritten',
    'props_market',
    'props_truckCompany',
    'props_truckAccount',
    'props_truckDays',
    'props_cargo',
    'props_volume',
    'props_mainLength',
    'props_currentSuppliers',
    'props_status',
    'props_notes',
    'props_createdBy',
    'props_createdOn',
    'props_modifiedBy',
    'props_modifiedOn',
    'props_pictures',
    'props_id',
    'props_key'
  ],
  components: {
    PictureInput
  },
  data () {
    return {
      addFileFirst: 'File',
      addFileSecond: 'File',
      addFileThird: 'File',
      addFileFour: 'File',
      addFileFive: 'File',
      editFirstPicture: true,
      editSecondPicture: true,
      editThirdPicture: true,
      editFourPicture: true,
      editFivePicture: true,
      key: this.props_key,
      pad: null,
      market: this.props_market,
      dialog: false,
      dialogNotes: false,
      mediaStream: null,
      canvas: null,
      valid: false,
      id: this.props_id,
      companyName: this.props_companyName,
      contactPerson: this.props_contactPerson,
      email: this.props_email,
      phone: this.props_phone,
      country: this.props_country,
      city: this.props_city,
      truckCompany: this.props_truckCompany,
      truckAccount: this.props_truckAccount,
      truckDays: this.props_truckDays,
      cargo: this.props_cargo,
      volume: this.props_volume,
      mainLength: this.props_mainLength.split(','),
      currentSuppliers: this.props_currentSuppliers,
      status: this.props_status,
      notes: this.props_notes,
      modifiedBy: this.$store.getters.username,
      modifiedOn: this.$moment(new Date()).format('dddd, MMMM Do YYYY, h:mm:ss a'),
      pictures: [
        this.props_pictures.split(',').length > 0 ? this.props_pictures.split(',')[0] : '',
        this.props_pictures.split(',').length > 1 ? this.props_pictures.split(',')[1] : '',
        this.props_pictures.split(',').length > 2 ? this.props_pictures.split(',')[2] : '',
        this.props_pictures.split(',').length > 3 ? this.props_pictures.split(',')[3] : '',
        this.props_pictures.split(',').length > 4 ? this.props_pictures.split(',')[4] : ''
      ],
      picCount: null,
      handWritten: [
        this.props_handwritten.split(',').length > 0 ? this.props_handwritten.split(',')[0] : '',
        this.props_handwritten.split(',').length > 1 ? this.props_handwritten.split(',')[1] : '',
        this.props_handwritten.split(',').length > 2 ? this.props_handwritten.split(',')[2] : '',
        this.props_handwritten.split(',').length > 3 ? this.props_handwritten.split(',')[3] : '',
        this.props_handwritten.split(',').length > 4 ? this.props_handwritten.split(',')[4] : ''
      ],
      handCount: null,
      dialogo: false,
      dialogo2: false,
      dialogo3: false,
      handItemToDelete: null
    }
  },
  computed: {
    disabled () {
      if (this.companyName !== '' && this.contactPerson !== '' && this.email !== '' && this.phone !== '' && this.country !== '' && this.city !== '' && this.market !== '' && this.cargo !== '' && this.status !== '' && this.mainLength !== '' && this.volume !== '') {
        return false
      }
      return true
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    },
    username () {
      return this.$store.getters.username
    }
  },
  mounted () {
    this.canvas = document.getElementById('notes')
    this.canvas.width = 800
    this.canvas.height = 600
    this.pad = new SignaturePad(this.canvas, {
      backgroundColor: 'rgb(255, 255, 255)',
      penColor: 'rgb(0, 0, 0)'
    })
    this.setEditPictures()
  },
  destroyed () {
    const tracks = this.mediaStream.getTracks()
    tracks.map(track => track.stop())
  },
  methods: {
    setEditPictures () {
      let info = this.pictures
      if (info[0] !== '') {
        this.editFirstPicture = false
      }
      if (info[1] !== '') {
        this.editSecondPicture = false
      }
      if (info[2] !== '') {
        this.editThirdPicture = false
      }
      if (info[3] !== '') {
        this.editFourPicture = false
      }
      if (info[4] !== '') {
        this.editFivePicture = false
      }
    },
    openDialog () {
      this.dialogo = true
    },
    openDialog2 (item) {
      this.dialogo2 = true
      this.handItemToDelete = item
    },
    openDialog3 (item) {
      this.dialogo3 = true
      this.handItemToDelete = item
    },
    clear () {
      this.pad.clear()
      this.$emit('input', this.pad.toDataURL())
    },
    onChangeFirst (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[0] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeSecond (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[1] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeThird (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[2] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeFour (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[3] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeFive (image) {
      console.log('New picture selected!')
      if (image) {
        let blob = image.split(',')[1]
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        let promise = Promise.resolve(this.$store.dispatch('saveTempPictureString', data))
        let self = this
        promise.then(function (value) {
          self.pictures[4] = value
          console.log('self.pictures: ', self.pictures)
          return value
        })
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    takeNotes () {
      var dataURL = this.pad.toDataURL()
      var parts = dataURL.split(';base64,')
      var contentType = parts[0].split(':')[1]
      var raw = window.atob(parts[1])
      var rawLength = raw.length
      var uInt8Array = new Uint8Array(rawLength)
      for (var i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i)
      }
      var blob = new Blob([uInt8Array], { type: contentType })
      var data = {
        'username': this.createdBy,
        'blob': blob
      }
      var promise = Promise.resolve(this.$store.dispatch('saveTempNote', data))
      let img = promise.then(function (value) {
        return value
      })
      if (this.handCount !== null) {
        this.handWritten[this.handCount] = img.then(value => { return value })
      }
      this.pad.isEmpty()
      this.dialogNotes = false
    },
    capture () {
      const mediaStreamTrack = this.mediaStream.getVideoTracks()[0]
      const imageCapture = new window.ImageCapture(mediaStreamTrack)
      return imageCapture.takePhoto().then(blob => {
        let data = {
          'username': this.createdBy,
          'blob': blob
        }
        this.closecamera()
        var promise = Promise.resolve(this.$store.dispatch('saveTempPicture', data))
        let img = promise.then(function (value) {
          return value
        })
        if (this.picCount !== null) {
          this.pictures[this.picCount] = img.then(value => { return value })
        }
      })
    },
    openDialogFirst () {
      this.editFirstPicture = true
    },
    openDialogSecond () {
      this.editSecondPicture = true
    },
    openDialogThird () {
      this.editThirdPicture = true
    },
    openDialogFour () {
      this.editFourPicture = true
    },
    openDialogFive () {
      this.editFivePicture = true
    },
    opencamera (picCount) {
      this.dialog = true
      this.picCount = picCount
      navigator.mediaDevices.getUserMedia({ video: true })
      .then(mediaStream => {
        this.mediaStream = mediaStream
        this.$refs.video.srcObject = mediaStream
        this.$refs.video.play()
      })
    .catch(error => console.error('getUserMedia() error:', error))
    },
    closecamera () {
      this.dialog = false
      if (this.mediaStream !== null) {
        const tracks = this.mediaStream.getTracks()
        tracks.map(track => track.stop())
      }
    },
    opennotes (handCount) {
      this.pad.clear()
      this.dialogNotes = true
      this.handCount = handCount
    },
    deleteNotes () {
      this.handWritten[this.handItemToDelete] = ''
      this.editCustomer()
    },
    deleteImage () {
      this.pictures[this.handItemToDelete] = ''
      this.editCustomer()
    },
    closenotes () {
      this.dialogNotes = false
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    },
    async editCustomer () {
      let photos = []
      for (let i in this.pictures) {
        if (typeof this.pictures[i] === 'string') {
          photos.push(this.pictures[i])
        } else {
          if (Promise.resolve(this.pictures[i]) === this.pictures[i]) {
            await this.pictures[i].then((value) => {
              photos.push(value)
            })
          } else if (this.pictures[i] !== '') {
            photos.push(this.pictures[i])
          }
        }
      }
      let handnotes = []
      for (let i in this.handWritten) {
        if (Promise.resolve(this.handWritten[i]) === this.handWritten[i]) {
          await this.handWritten[i].then((value) => {
            handnotes.push(value)
          })
        } else if (this.handWritten[i] !== '') {
          handnotes.push(this.handWritten[i])
        }
      }
      let client = {
        key: this.key !== null ? this.key : '',
        companyName: this.companyName !== null ? this.companyName : '',
        contactPerson: this.contactPerson !== null ? this.contactPerson : '',
        email: this.email !== null ? this.email : '',
        phone: this.phone !== null ? this.phone : '',
        country: this.country !== null ? this.country : '',
        city: this.city !== null ? this.city : '',
        market: this.market !== null ? this.market : '',
        truckCompany: this.truckCompany !== null ? this.truckCompany : '',
        truckAccount: this.truckAccount !== null ? this.truckAccount : '',
        truckDays: this.truckDays !== null ? this.truckDays : '',
        cargo: this.cargo !== null ? this.cargo : '',
        volume: this.volume !== null ? this.volume : '',
        mainLength: this.mainLength.toString(),
        currentSuppliers: this.currentSuppliers !== null ? this.currentSuppliers : '',
        status: this.status !== null ? this.status : '',
        id: this.id !== null ? this.id : '',
        notes: this.notes !== null ? this.notes : '',
        modifiedBy: this.modifiedBy,
        modifiedOn: this.$moment(new Date()).format('dddd, MMMM Do YYYY, h:mm:ss a'),
        pictures: photos,
        handwritten: handnotes
      }
      this.$store.dispatch('editCustomer', client)
      this.dialogo = false
      window.location.replace('customerlist')
    }
  }
}
</script>
<<style scoped>
.picture-button{
  display: inline-block;
  border: solid 2px #F16764;
  border-radius: 5px;
  padding: 30% 10%;
}
.radioUploadFile{
  font-size:12px !important;
}
.editPicture{
  display: table;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}
#notes{
  max-width: 800px;
  max-height: 600px;
  text-align: center;
  margin: 0 auto;
  display: table;
}   
a{
  text-decoration: none;
} 
.data-creation{
    color: #787878;
    font-weight: 100;
}
.picCont{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.camera-modal {
    width: 100%;
    height: 100%;
    background: #000;
}
.camera-stream{
    max-width: 100%;
}
.take-picture-button {
    display: inline-block;
    border: 2px solid #F16764;
    border-radius: 50px;
    background-color: #fff !important;
}
</style>
