<template>
      <v-container class="mt-0" fill-height>
        <v-layout row wrap>
          <v-flex xs12 class="text-xs-center py-5 my-5">
                  <div class="display-1">TESSACORP</div>
                  <v-divider></v-divider>
                  <div class="title">app</div>
          </v-flex>
          <v-flex xs12 sm6>
            <router-link to="/company">
            <v-card color="white lighten-4" class="pa-3 mx-3">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">COMPANY</div>
                    </div>
                  </v-flex>
                  <v-flex xs5 class="text-xs-right">
                    <v-icon x-large>business</v-icon>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
            </router-link>
          </v-flex>
          <v-flex xs12 sm6>
            <router-link to="/customers">
            <v-card color="white lighten-4" class="pa-3 mx-3  ">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">CUSTOMERS</div>
                    </div>
                  </v-flex>
                  <v-flex xs5 class="text-xs-right">
                    <v-icon x-large>supervisor_account</v-icon>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
            </router-link>
          </v-flex>
          <v-flex xs12 sm6 v-if="isSuperUser" class="newUser">
            <router-link to="/newuser">
            <v-card color="white lighten-4" class="pa-3 mx-3  ">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">NEW USER</div>
                    </div>
                  </v-flex>
                  <v-flex xs5 class="text-xs-right">
                    <v-icon x-large>supervisor_account</v-icon>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
            </router-link>
          </v-flex>
          <v-flex xs12 sm6 v-if="isSuperUser" class="newUser">
            <router-link to="/userlist">
            <v-card color="white lighten-4" class="pa-3 mx-3  ">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">USER LIST</div>
                    </div>
                  </v-flex>
                  <v-flex xs5 class="text-xs-right">
                    <v-icon x-large>list</v-icon>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
            </router-link>
          </v-flex>
        </v-layout>
      </v-container>
</template>
<script>
  export default {
    computed: {
      isSuperUser () {
        return this.$store.getters.superuser === true
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>

<style scoped>
  .newUser{
    margin-top:20px;
  }
  a{
    text-decoration: none;
  }
  .headline{
    color: rgba(0,0,0,0.54);
    font-weight: 200;
  }
 .title{
    font-weight: 100;
  }
</style>