<template>
  <v-app>
    <v-navigation-drawer  temporary light absolute v-model="sideNav" v-if="userIsAuthenticated">
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
           <p>MENU</p>
          </v-list-tile-title>
        </v-list-tile>
        <v-list-tile 
        v-for="item in menuItems" 
        :key="item.title"
        :to="item.link" class="liItem">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>{{ item.title }}</v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="onLogout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Logout</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark @click.stop="sideNav = false">
        <v-toolbar-side-icon @click.stop="sideNav = !sideNav" v-if="userIsAuthenticated"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
         <router-link to="/"><img id="logo" src="/static/img/logo_tessa.png"></router-link>
        <v-spacer></v-spacer>
    </v-toolbar>
    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: false
      }
    },
    computed: {
      menuItems () {
        let menuItems = []
        if (this.userIsAuthenticated) {
          menuItems = [
            { icon: 'home', title: 'Home', link: '/home' },
            { icon: 'business', title: 'Company', link: '/company' },
            { icon: 'supervisor_account', title: 'Customers', link: '/customers' }
          ]
        }
        return menuItems
      },
      userIsAuthenticated () {
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      },
      user () {
        return this.$store.getters.user
      },
      error () {
        return this.$store.getters.error
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    watch: {
      user (value) {
        if (value !== null && value !== undefined) {
          this.$router.push('/')
        }
      }
    },
    methods: {
      onLogout () {
        this.sideNav = false
        this.$router.push('/signin')
        this.$store.dispatch('logout')
      }
    }
  }
</script>

<<style>
  main{
    background:#ededed;
  }
  #logo{
    max-height:40px;
  }
  .theme--dark .toolbar, .application .theme--dark.toolbar {
    background-color: #000000;
    color: #fff;
  }
  .list__tile--active{
    background-color: #444 !important;
    font-style: italic;
  }
  .list__tile{
    transition-property: background-color !important;
    transition: 0.5s !important;
  }
  .liItem:hover{
    background-color: #fefefe !important;
  }
  .divider{
    height: 1.5px;
    background-color: rgba(0,0,0,0.54) !important;
  }
  .primary--text{
    color: #ff0000 !important;
  }
</style>


